<div class="transactions">

  <div class="header">
    <h3>Transactions</h3>

    <input
      type="text"
      placeholder="Search category..."
      [(ngModel)]="search"
      (input)="searchData()"
    />
  </div>

  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Category</th>
        <th>Amount</th>
        <th>Type</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let t of filtered">
        <td>{{t.date}}</td>
        <td>{{t.category}}</td>
        <td>{{t.amount}}</td>
        <td [ngClass]="t.type">{{t.type}}</td>
      </tr>
    </tbody>
  </table>

</div>
