@media (max-width: 768px) {
  .cards,
  .charts {
    flex-direction: column;
  }
}
body {
  background: #f1f5f9;
  color: #111;
}
body.dark {
  background: #0f172a;
  color: #f1f5f9;
}
body.dark .card {
  background: #1e293b;
  color: #fff;
}
body.dark .navbar {
  background: #020617;
}
body.dark .sidebar {
  background: #020617;
}
body.dark table {
  background: #1e293b;
  color: white;
}
body.dark h3 {
  color: black;
}
body.dark p {
  color: black;
}
body.dark h2 {
  color: white;
}